@import "https://fonts.googleapis.com/css?family=Indie+Flower";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
.container {
    width: 100%;
}

.top {
    position: fixed;
    width: 100%;
    top: 0;
}

.padding {
    padding: 8px 16px;
}

.padding-0 {
    padding: 0;
}

.blue {
    background-color: #005FA4;
    color: white;
}

.right {
    float: right;
}

.btn {
    border: none;
    color: white;
}

.login {
    margin: 5% 20%;
}

.center {
    text-align: center;
}

.coolFont {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.spaceAfter {
    padding-top: 12px;
}

.material-icons.md-48 {
    font-size: 72px;
}

header {
    border-bottom: 3px solid #FFCC00;
    margin-top: 0;
}

input {
    padding: 7px 20px;
    width: 250px;
    box-sizing: border-box;
}

button {
    /*box-sizing: border-box;*/
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    font-weight: bold;
    font: inherit;
    margin: 0;
}

div a {
    text-decoration: none;
}
